<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @product.expire_date %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @product.categories %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<p>
  <strong>Images:</strong>
  <%= @product.images %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
